<form class="max-w-sm mx-auto" method="GET">
  <label
    for="categories"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
  >
    Select a Category
  </label>
  <select
    id="categories"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option value="">Choose a category</option>
    <option value="all">All</option>
    <option value="tv">TVs</option>
    <option value="fan">Fans</option>
    <option value="washing">Washing Machines</option>
  </select>
</form>

<script>
  document
    .getElementById("categories")
    .addEventListener("change", function (event) {
      const selectedCategory = event.target.value;
      const url = new URL(window.location.href);

      if (selectedCategory) {
        url.searchParams.set("category", selectedCategory);
      } else {
        url.searchParams.delete("category");
      }

      window.location.href = url.toString();
    });
</script>
